@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}



.mail-phone {
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

#telefone {
    transform: scaleX(-1);
    
}



.icones {
    width: 20px;
}
#pesquisa {
    margin-right: 10px;
}

nav {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.nav-itens {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    justify-content: space-between;
}

nav p {
    font-size: 14px;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 15px;
    
}



header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
}

#inicio {
    color: rgb(14, 177, 141);
}

.abas ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-weight: 600;
    
}

.abas li:hover {
    cursor: pointer;
    color: rgb(190, 161, 87);
    transition: 0.3s;
}

.reserve-agora {
    background-color: #01B299;
    padding: 13px 20px;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
    cursor: pointer;
}

.hotel-image {
    background: url(imagens/hotel-de-luxo-moderno-e-recepcao-e-lounge-com-sala-de-reunioes.jpg) no-repeat center center / cover;
    width: 100%;
    height: 450px;
    position: relative
}

.botao-reserva {
    background-color: #01B299;
    display: inline-block;
    position: absolute;
    padding: 17px 35px;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.452);
    top: 75%;
    left: 50%;
    font-weight: 600;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.sobre {
    display: flex;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.sobre-texto {
    width: 520px;
    padding: 20px;
}

.sobre-texto h2 {
    font-size: 30px;
    font-weight: 600;
}

.sobre-texto p {
    font-size: 16px;
    line-height: 1.5;
    color: #858585;
}
.grid-images {
    display: grid;
    width: 700px;
    height: 450px;
    grid-template: 350px 120px / repeat(5, 120px);
    gap: 10px;
    overflow: hidden;
    
}

.grid-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#corredor {
    grid-area: 2 / 4 / 3 / 5;
}

#interior {
    grid-area: 2 / 1 / 3 / 2;
}

#quarto {
    grid-area: 2 / 2 / 3 / 3;
}

#recepcao {
    grid-area: 2 / 3 / 3 / 4;
}

#vista-hotel {
    grid-area: 1 / 1 / 2 / 6;
    
}

#quarto02 {
    grid-area: 2 / 5 / 3 / 6;
}

.servicos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    background-color: rgb(236, 236, 236);
    align-items: center;
    justify-content: center;
}

.servicos h2 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 10px;
}

.servicos p {
    margin-bottom: 30px;
    color: #8181819f;
    font-weight: 600;
}

.beneficios p {
    color: black;
}

.beneficios {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
}

.itens-beneficios {
    background-color: white;
    padding: 50px;
    width: 400px;
    height: 200px;
    text-align: center;
    
}

.itens-beneficios img {
    width: 50px;
    margin-bottom: 20px;
}


.categorias {
    display: flex;  
    flex-direction: column;
    align-items: center;
    height: 750px;
}

.categorias h2 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 50px;
    text-align: center;
}

.apartamentos {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;  
}



.quartos {
    background-color: rgba(238, 238, 238, 0.685);
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    width: 330px;
    
}


.quartos h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: start;
    padding: 0;;
}

.quartos p {
    font-size: 13px;
    color: #272727bd;
    margin-bottom: 15px;
}

.quartos img {
    width: 289px;
    margin-bottom: 15px;

}

.quarto-reserva {
    background-color: black;
    color: white;
    padding: 10px 20px;
    width: 110px;
    text-align: center;
    border-radius: 3px;
    
}

.elementor-divide {
    width: 45px;
    height: 2px;
    background-color: #000000;
    margin-bottom: 15px;
}

.mapa {
    border-bottom: 3px solid black;
}

#img-executivo {
    height: 216px;  
}

#logo-hotel {
    width: 130px;
}
.descricao img {
    width: 20px;
}

.descricao h3 {
    font-weight: 500;
}

.descricao {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    gap: 100px;
}

.descricao-texto {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.descricao-texto p {
    font-size: 14px;
    color: #5c5c5cbd;
}

.descricao-texto .imagens {
    display: flex;
    gap: 10px;
    
}

.sobre-hotel{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    align-items: flex-start;
}

.sobre-hotel li > a {
    color: #0a0a0abd ;
    text-decoration: none;
    
}

.sobre-hotel li {
    margin-bottom: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario input {
    padding: 10px;
    width: 400px;
    border: 1px solid #b3b3b3;
    font-size: 13px;
    
}

#enviar {
    color: white;
    background-color: black;
    letter-spacing: 5px;
    border: none;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(180, 180, 180, 0.178);
    color: rgb(136, 136, 136);
    font-size: 13px;
    font-weight: 300;
    padding: 15px;
}




